[submodule "bento"]
path=bento
url = git://github.com/cournape/Bento.git
[submodule "waf"]
	path = waf
	url = https://github.com/waf-project/waf
[submodule "Bento"]
	path = Bento
	url = git://github.com/cournape/Bento.git
